<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Topbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="color:#2B7A7B">
        <div class="container" style="background-color:#2B7A7B">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:#2B7A7B">
                    <li>@Html.ActionLink("Procrastinator", "Index", "Home", new { id = 1 }, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("Create", "Courses", "Home", new { id = 1 }, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { id = 1 }, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("Lookup", "LookUp", "Home", new { id = 1 }, new { @style = "color:#ffffff;" })</li>
                </ul>l
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Procrastinator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
